<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CTD book _ Login</title>
    <link rel="shortcut icon" href="image/Logo.png" type="image/png" />
</head>

<body>
    <div class="login">
        <div class="center">
            <h3>LOG IN</h3>
            <form action="/signin" method="POST">
                <div class="field">
                    <div class="label" for="email">Email</div><input type="email" name="mail" placeholder="Email" />
                </div>
                <div class="field">
                    <div class="label" for="password">Password</div><input type="password" name="password" placeholder="Password" />
                </div>
                <button class="btn" type="submit">Log In</button>
                <p>Don't have an account? &nbsp<a href="/signup">SIGN UP</a></p>
            </form>
        </div>
    </div>

</body>
</html>