<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CTD book</title>
        <link rel="shortcut icon" href="image/Logo.png" type ="image/png"/>
        <link rel="stylesheet" href="css/globals.css" />
        <link rel="stylesheet" href="css/style_desktop.css" />
        <link rel="stylesheet" href="css/style_end.css" />
        <link rel="stylesheet" href="css/style_toolbar.css" />
        <link rel="stylesheet" href="css/style_mBanner.css" />
        <link rel="stylesheet" href="css/style_sachmoi.css" />

    </head>
    <body>
        scroll-padding-top: 123px;
        <div class="desktop"><div class="div"></div></div>
        <!-- toolbar -->
        <div class="box">
            <img src="image/Logo.png" alt="">
            <button id="menu" style="background: url(image/toolbar_section/Category.png)"></button>
            <input placeholder="  Tìm kiếm sản phẩm...">
            <button id="search" style="background: url(image/toolbar_section/Search.png)"></button>

            <div id="thong-bao">
                <button style="background: url(image/toolbar_section/Notification.png)"></button>
                <p>Thông báo</p>
            </div>
            <div id="gio-hang">
                <button style="background: url(image/toolbar_section/Shopping-Cart.png)"></button>
                <p>Giỏ hàng</p>
            </div>
            <div id="tai-khoan">
                <button style="background: url(image/toolbar_section/Person.png)"></button>
                <p>Tài khoản</p>
            </div>
        </div>
        
        <section>
            <section class="Sach">
                <div class="product">
                    <div class="header2">
                        <h2>SÁCH MỚI</h2>
                        <div id="sortBy">
                            <p>Sắp xếp theo:</p>
                            <select id="optionSort">
                                <option>Mới nhất</option>
                                <option>Cũ nhất</option>
                                <option>Giá tăng dần</option>
                                <option>Giá giảm dần</option>
                            </select>
                        </div>
                    </div>
                    <div id="line"></div>
                    <div class="items">
                        <div class="item">
                            <img src="image/sachmoi/sachmoi1.jpg" alt="">
                            <ul class="text">
                                <li class="ten-sach">Bố ngồi cùng con, nhé!</li>
                                <li class="gia-tien">96.000 đ</li>
                                <li class="gia-goc">120.000 đ</li>
                            </ul>
                        </div>
                        <div class="item">
                            <img src="image/sachmoi/sachmoi2.jpg" alt="">
                            <ul class="text">
                                <li class="ten-sach">Qua đêm ở nhà các vua...</li>
                                <li class="gia-tien">96.000 đ</li>
                                <li class="gia-goc">120.000 đ</li>
                            </ul>
                        </div>
                        <div class="item">
                            <img src="image/sachmoi/sachmoi3.jpg" alt="">
                            <ul class="text">
                                <li class="ten-sach">Quái vật băng</li>
                                <li class="gia-tien">144.000 đ</li>
                                <li class="gia-goc">180.000 đ</li>
                            </ul>
                        </div>
                        <div class="item">
                            <img src="image/sachmoi/sachmoi4.jpg" alt="">
                            <ul class="text">
                                <li class="ten-sach">Bàn về lòng khoan dung</li>
                                <li class="gia-tien">68.800 đ</li>
                                <li class="gia-goc">86.000 đ</li>
                            </ul>
                        </div>
                        <div class="item">
                            <img src="image/sachmoi/sachmoi5.jpg" alt="">
                            <ul class="text">
                                <li class="ten-sach">Nuôi dạy con không...</li>
                                <li class="gia-tien">79.200 đ</li>
                                <li class="gia-goc">99.000 đ</li>
                            </ul>
                        </div>
                        <div class="item">
                            <img src="image/sachmoi/sachmoi1.jpg" alt="">
                            <ul class="text">
                                <li class="ten-sach">Bố ngồi cùng con, nhé!</li>
                                <li class="gia-tien">96.000 đ</li>
                                <li class="gia-goc">120.000 đ</li>
                            </ul>
                        </div>
                        <div class="item">
                            <img src="image/sachmoi/sachmoi2.jpg" alt="">
                            <ul class="text">
                                <li class="ten-sach">Qua đêm ở nhà các vua...</li>
                                <li class="gia-tien">96.000 đ</li>
                                <li class="gia-goc">120.000 đ</li>
                            </ul>
                        </div>
                        <div class="item">
                            <img src="image/sachmoi/sachmoi3.jpg" alt="">
                            <ul class="text">
                                <li class="ten-sach">Quái vật băng</li>
                                <li class="gia-tien">144.000 đ</li>
                                <li class="gia-goc">180.000 đ</li>
                            </ul>
                        </div>
                        <div class="item">
                            <img src="image/sachmoi/sachmoi4.jpg" alt="">
                            <ul class="text">
                                <li class="ten-sach">Bàn về lòng khoan dung</li>
                                <li class="gia-tien">68.800 đ</li>
                                <li class="gia-goc">86.000 đ</li>
                            </ul>
                        </div>
                        <div class="item">
                            <img src="image/sachmoi/sachmoi5.jpg" alt="">
                            <ul class="text">
                                <li class="ten-sach">Nuôi dạy con không...</li>
                                <li class="gia-tien">79.200 đ</li>
                                <li class="gia-goc">99.000 đ</li>
                            </ul>
                        </div>
                        <div class="item">
                            <img src="image/sachmoi/sachmoi1.jpg" alt="">
                            <ul class="text">
                                <li class="ten-sach">Bố ngồi cùng con, nhé!</li>
                                <li class="gia-tien">96.000 đ</li>
                                <li class="gia-goc">120.000 đ</li>
                            </ul>
                        </div>
                        <div class="item">
                            <img src="image/sachmoi/sachmoi2.jpg" alt="">
                            <ul class="text">
                                <li class="ten-sach">Qua đêm ở nhà các vua...</li>
                                <li class="gia-tien">96.000 đ</li>
                                <li class="gia-goc">120.000 đ</li>
                            </ul>
                        </div>
                        <div class="item">
                            <img src="image/sachmoi/sachmoi3.jpg" alt="">
                            <ul class="text">
                                <li class="ten-sach">Quái vật băng</li>
                                <li class="gia-tien">144.000 đ</li>
                                <li class="gia-goc">180.000 đ</li>
                            </ul>
                        </div>
                        <div class="item">
                            <img src="image/sachmoi/sachmoi4.jpg" alt="">
                            <ul class="text">
                                <li class="ten-sach">Bàn về lòng khoan dung</li>
                                <li class="gia-tien">68.800 đ</li>
                                <li class="gia-goc">86.000 đ</li>
                            </ul>
                        </div>
                        <div class="item">
                            <img src="image/sachmoi/sachmoi5.jpg" alt="">
                            <ul class="text">
                                <li class="ten-sach">Nuôi dạy con không...</li>
                                <li class="gia-tien">79.200 đ</li>
                                <li class="gia-goc">99.000 đ</li>
                            </ul>
                        </div>
                        <div class="item">
                            <img src="image/sachmoi/sachmoi1.jpg" alt="">
                            <ul class="text">
                                <li class="ten-sach">Bố ngồi cùng con, nhé!</li>
                                <li class="gia-tien">96.000 đ</li>
                                <li class="gia-goc">120.000 đ</li>
                            </ul>
                        </div>
                        <div class="item">
                            <img src="image/sachmoi/sachmoi2.jpg" alt="">
                            <ul class="text">
                                <li class="ten-sach">Qua đêm ở nhà các vua...</li>
                                <li class="gia-tien">96.000 đ</li>
                                <li class="gia-goc">120.000 đ</li>
                            </ul>
                        </div>
                        <div class="item">
                            <img src="image/sachmoi/sachmoi3.jpg" alt="">
                            <ul class="text">
                                <li class="ten-sach">Quái vật băng</li>
                                <li class="gia-tien">144.000 đ</li>
                                <li class="gia-goc">180.000 đ</li>
                            </ul>
                        </div>
                        <div class="item">
                            <img src="image/sachmoi/sachmoi4.jpg" alt="">
                            <ul class="text">
                                <li class="ten-sach">Bàn về lòng khoan dung</li>
                                <li class="gia-tien">68.800 đ</li>
                                <li class="gia-goc">86.000 đ</li>
                            </ul>
                        </div>
                        <div class="item">
                            <img src="image/sachmoi/sachmoi5.jpg" alt="">
                            <ul class="text">
                                <li class="ten-sach">Nuôi dạy con không...</li>
                                <li class="gia-tien">79.200 đ</li>
                                <li class="gia-goc">99.000 đ</li>
                            </ul>
                        </div>
                    </div>

                    
                </div>
            </section>
        </section>
        <!--footer-->
        <div class="box_footer">
            <div class="end">
                <img class="line" src="image/end_section/line-1.sgv" alt=""/>
                <img class="logo" src="image/Logo.png" alt=""/>
                <p class="diachi">
                    Duong Han Thuyen, khu pho 6, <br />Thu Duc, Thanh pho Ho Chi Minh<br />Hotline: 0123456789<br />ctdbook@gmail.comcom
                </p>
                <p class="text-wrapper">Kết nối mạng xã hội</p>
                <img class="img" src="image/end_section/line-2.sgv" alt="" />
                <img class="facebook" src="image/end_section/Facebook.png" alt="" />
                <img class="instagram" src="image/end_section/Instagram.png" alt=""/>
                <img class="twitter-x" src="image/end_section/TwitterX.png" alt=""/>
                <img class="you-tube" src="image/end_section/YouTube.png" alt=""/>
            </div>
        </div>
    </body>
</html>
