<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CTD book _ Login</title>
    <link rel="shortcut icon" href="image/Logo.png" type="image/png" />
    <link rel="stylesheet" href="D:/Nhom3B_CTDbook/source/public/css/hover_menu.css">


</head>

<body>
    <div class="login">
        <div class="center">
            <h3>SIGN UP</h3>
            <form action="/signin" method="POST">
                <div class="field">
                    <div class="label" for="username">Username</div><input type="username" name="username" placeholder="Username" />
                </div>
                <div class="field">
                    <div class="label" for="email">Email</div><input type="email" name="mail" placeholder="Email" />
                </div>
                <div class="field">
                    <div class="label" for="password">Password</div><input type="password" name="password" placeholder="Password" />
                </div>
                <div class="field">
                    <div class="label" for="password1">Re-enter Password</div><input type="password1" name="password1" placeholder="Re-enter Password" />
                </div>
                <button class="btn" type="submit">Log In</button>
                <p>Already have an account? &nbsp<a href="/login">LOG IN</a></p>
</form>
        </div>
    </div>
</body>
</html>