<!DOCTYPE html>
<html>
<%- include("./partials/head.ejs") %>
<body>
    scroll-padding-top: 123px;
    <div class="desktop"><div class="div"></div></div>
    <!-- toolbar -->
    <%- include("./partials/toolbar.ejs") %>
    <!--end toolbar-->
    
    <div class="content">
        <form class="login_css" action="/login" method="POST" style="padding: 16px; align-items: center; max-width: 800px;">
            <div class="imgcontainer">
                <span id="title" style="font-size:32px"><b> LOG IN </b></span>
            </div>
            <div class="field">
                <div class="inputF">
                    <label for="email"><b>Email</b></label>
                    <input type="email" name="mail" placeholder="Email" required />
                </div>
                <div class="inputF">
                    <label for="password"><b>Password</b></label>
                    <input type="password" name="password" placeholder="Password" required />
                </div>
                
                <button class="btn" style="text-align:center">Log In</button>
                <span class="signup" style="text-align:center">Don't have an account? &nbsp<a href="/signup">SIGN UP</a></span>
            </div>      
        </form> 
    </div>
    <p style="text-align: center;""><%= err %></p>
    <!--footer-->
    <%- include("./partials/footer.ejs") %>
</body>
</html>