<!DOCTYPE html>
<html>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/style_thanhtoan.css" /> 
    <body>
        scroll-padding-top: 123px;
        <div class="desktop"><div class="div"></div></div>
        <!-- toolbar -->
        <%- include("./partials/toolbar.ejs") %>

        <!--  -->
        <div class="pay">
            <div class="sidebar">
                <div class="sidebar-product">
                    <table class="product-table">
                        <tr class="product-item">
                            <td class="product-img">
                                <div class="product-thumbnail">
                                    <div class="product-thumbnail-con">
                                        <img class="product-thumbnail-img" alt="Bố ngồi cùng con nhé!" src="/image/Logo.png"> 
                                    </div>
                                    <span class="product-sl">1</span>
                                </div>
                            </td>
                            <td class="product-ten">
                                <span class="tensp">Bố ngồi cùng con nhé!</span>
                            </td>
                            <td class="product-price">
                                <span class="giasp">60.000đ</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="sidebar-discount">
                    <form id="form_discount_add" method="POST">
                        <input type="text" placeholder="Mã giảm giá" name="discount.code" class="input_field">
                        <button type="submit" id="discount_btn">Sử dụng</button>
                    </form>
                </div>
                <div class="sidebar-login">
                    <div class="login">
                        <h2>Khách hàng thân thiết</h2>
                        <button type="button" href="./thanhtoan.html" id="login_btn">Login</button>
                    </div>
                </div>
                <div class="sidebar-total">
                    <table class="total-line-table">
                        <tr class="total-line total-line-subtotal">
                            <td class="total-line-name">Tạm tính</td>
                            <td class="total-line-price">
                                <span class="order-summary-emphasis">58,500₫</span>
                            </td>
                        </tr>
                        <tr class="total-line total-line-shipping">
                            <td class="total-line-name">Phí ship</td>
                            <td class="total-line-price">
                                <span class="order-summary-emphasis">—</span>
                            </td>
                        </tr>
                        <tfoot class="total-line-table-footer">
                            <tr class="total-line">
                                <td class="total-line-name payment-due-label">
                                    <span class="payment-due-label-total">Tổng tiền</span>
                                </td>
                                <td class="total-line-name payment-due">
                                    <span class="payment-due-currency">VND</span>
                                    <span class="payment-due-price">58,500₫</span>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="main">
                <div class="main-header">
                    <a href="/" class="logo">
                        <h1 class="logo-text">Tiệm sách CTD Books</h1>
                    </a>
                    <ol class="url">
                        <li class="url-item"> <a href="index.html" title="Giỏ hàng">Giỏ hàng</a> <span>&#62;</span> </li>
                        <li class="url-item item-current"> Thông tin vận chuyển <span>&#62;</span> </li>
                        <li class="url-item"> Thanh toán </li>
                    </ol>
                </div>
                <div class="main-content">
                    <div class="step-sections" step="1">
                        <h2 class="section-title">Thông tin thanh toán</h2>
                        <p class="section-content-text">
                            Bạn đã có tài khoản?
                            <a href="index.html">Đăng nhập</a>
                        </p>
                        <div class="input"><input type="text" placeholder="Họ và tên" name="ten" class="input_field"></div>
                        <div class="input1"><input type="email" placeholder="Email" name="mail" class="input_field"></div>
                        <div class="input2"><input type="tel" maxlength="15" placeholder="Điện thoại" name="phone" class="input_field"></div>
                        <div class="input"><input type="text"placeholder="Địa chỉ" name="address" class="input_field"></div>
                        <div class="input2"><input type="text" placeholder="Tỉnh" name="tinh" class="input_field"></div>
                        <div class="input2"><input type="text" placeholder="Quận/Huyện" name="quanhuyen" class="input_field"></div>
                        <div class="input2"><input type="text" placeholder="Phường/Xã" name="phuõnga" class="input_field"></div>
                        </div>
                </div>
                <div class="step-footer">
                    <button type="submit" id="thanhtoan_btn">Thanh toán ngay</button>
                    <a class="step-footer-previous-link" href="giohang.html">Giỏ hàng</a>
                </div>
                </div>
            </div>
        </div>

        <!--footer-->
        <%- include("./partials/footer.ejs") %>
    </body>
</html>