/*toolbar_section*/
.box {
    position: fixed;
    width: 100%;
    height: 123px;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 5px 5px 0px #9a9e9f;
}
.box {
    &::before{
        display: block; 
        content: ""; 
        margin-top: -123px; 
        height: 123px; 
        visibility: hidden; 
        pointer-events: none;
      }
}

#love {
    display: inline;
    flex-direction: column;
    width: 61px;
    height: 61px;
    align-items: center;
    justify-content: center;
    gap: 3px;
    position: relative;
    top: 31px;
    left: 1082px;
}
#love button {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 32px;
    left: 1091px;
    border: none;
    float: left;
    background-size: cover;
    background-image: url(/image/toolbar_section/love.png);
    background-position: center;
}
#love p {
    position: fixed;
    width: fit-content;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #7a7e7f;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
    margin: auto;
    top: 78px;
    left: 1079px;
}


#gio-hang {
    display: inline;
    flex-direction: column;
    width: 61px;
    height: 61px;
    align-items: center;
    justify-content: center;
    gap: 3px;
    position: relative;
    top: 31px;
    left: 1161px;
}
#gio-hang button {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 32px;
    left: 1165px;
    background: url(image/toolbar_section/Shopping-Cart.png);
    border: none;
    float: left;
}
#gio-hang p {
    position: fixed;
    width: fit-content;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #7a7e7f;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
    margin: auto;
    top: 78px;
    left: 1160px;
}


#tai-khoan {
    display: inline;
    flex-direction: column;
    width: 61px;
    height: 61px;
    align-items: center;
    justify-content: center;
    gap: 3px;
    position: relative;
    top: 31px;
    left: 1240px;
}

.container {
    width: auto;
}

.container div {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 32px;
    left: 1243px;
    border: none;
    float: left;
}
.container .accountTitle {
    position: fixed;
    width: fit-content;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #7a7e7f;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
    margin: auto;
    top: 78px;
    left: 1235px;
}

.box img{
    margin-top: 10px;
    margin-left: 122px;
    width: 144px;
    height: 103px;
    float: left;
    cursor: pointer; /*mới thêm*/
}
.box #menu{
    margin-top: 31px;
    margin-left: 24px;
    width: 61px;
    height: 61px;
    background: url(image/toolbar_section/Category.png); /*mấy url đã bị bỏ á*/
    border: none;
    float: left;
}
body{background-color: #e0ecfe;}

.box input{
    margin-top: 36px;
    margin-left: 24px;
    width: 622px;
    height: 51px;
    color: #7a7e7f;
    font-size: 20px;
    border: solid #7a7e7f;
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    float: left;
    outline: none;
    box-sizing: border-box;
}
.box #search{
    margin-top: 36px;
    width: 51px;
    height: 51px;
    background: url(image/toolbar_section/Search.png);
    border: solid #7a7e7f;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    float: left;
    box-sizing: border-box;
}
.image .logo {
    position: fixed;
    width: 144px;
    height: 103px;
    top: 10px;
    left: 122px;
    object-fit: cover;
}
.box .category {
    position: fixed;
    width: 61px;
    height: 61px;
    top: 31px;
    left: 290px;
}