<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CTD book | <%= title %></title>
    <link rel="shortcut icon" href="/image/Logo.png" type="image/png" />
    <link rel="stylesheet" href="/css/style_end.css" />
    <link rel="stylesheet" href="/css/style_toolbar.css" />
    <link rel="stylesheet" href="/css/style_mBanner.css" />
    <link rel="stylesheet" href="/css/style_product.css" />
    <link rel="stylesheet" href="/css/hover_menu.css" />
    <link rel="stylesheet" href="/css/form.css" />
</head>
