<div class="box"> 
    <img src="/image/Logo.png" onclick="location.href='/main'" alt=""> <!--! /*mới sửa onclick*/-->
    <button id="menu" style="background: url(/image/toolbar_section/Category.png)"></button>
    <input placeholder="  Tìm kiếm sản phẩm...">
    <button id="search" style="background: url(/image/toolbar_section/Search.png)"></button>

    <div id="thong-bao">
        <button style="background: url(/image/toolbar_section/Notification.png)"></button>
        <p>Thông báo</p>
    </div>
    <div id="gio-hang">
        <button style="background: url(/image/toolbar_section/Shopping-Cart.png)"></button>
        <p>Giỏ hàng</p>
    </div>

    <div class="dropdown" id="tai-khoan">
        <a href="/login">
            <div class="container">
                <div class="dropbtn" style="background: url(/image/toolbar_section/Person.png) no-repeat"></div>
                <div class="accountTitle">Tài khoản</div>
            </div>
        </a>
        <div class="dropdown-content">
            <a href="/login">Đăng nhập</a>
            <a href="/signup">Đăng ký</a>
        </div>
    </div>
</div>